@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-merriweather: 'Merriweather', 'open-sans';
    --color-primary: #1e40af;
    --color-secondary: #dc2626;
    --color-techcat: #3B82F6;
    --color-lifecat: #10B981;
    --color-busicat: #F59E0B;
    --color-healthcat: #EF4444;
}
